<div class="container text-center">
    <h1>About Us</h1>
    <p>We are lit. We do lit stuff, for lit people, using lit technology and a lit website. Join the lit nation. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit atque, non dolore beatae ipsa, nihil laboriosam vel impedit ratione accusantium veritatis, sunt, voluptate earum illo sed voluptas quaerat dolores! Doloribus.</p>
</div>
